/* $Id: layout-fixed.css,v 1.5.2.3 2009/02/13 19:20:19 johnalbin Exp $ */

/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/** body **/
  body
  {
  }

  #page,
  #closure-blocks
  {
    margin-left: auto;
    margin-right: auto;
    width: 1008px;
  }

  #page-inner
  {
  }

  #navigation-top,
  #navigation
  {
    position: absolute; /* Take the named anchors out of the doc flow    */
    left: -10000px;     /* and prevent any anchor styles from appearing. */
  }

  #skip-to-nav
  {
    float: right;
    margin: 0 !important;
    font-size: 0.8em;
display:none;
  }

  #skip-to-nav a:link, #skip-to-nav a:visited
  {
    color: #fff; /* Same as background color of page */
  }

  #skip-to-nav a:hover
  {
    color: #000;
    text-decoration: none;
  }

  /* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
     to the link. Un-comment the following CSS to use this technique. */
  /*
  #skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
  {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #skip-to-nav a:active, #skip-to-nav a:focus
  {
    position: static;
    width: auto;
    height: auto;
  }
  */

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title
  {
  }

  #logo
  {
    float: left;
  }

  #site-name
  {
  }

  #site-slogan
  {
  }

  #header-blocks
  {
    clear: both; /* Clear the logo */
  }

/** main (container for everything else) **/
  #main
  {
    position: relative;
  }

  #main-inner
  {
	height:550px;
  }

/** content **/
  #content,
  .no-sidebars #content
  {
    float: left;
    width: 1008px;
    margin-left: 0;
    margin-right: -1008px; /* Negative value of #content's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
  }

  .sidebar-left #content
  {
    width: 708px;
    margin-left: 300px; /* The width of #sidebar-left. */
    margin-right: -1008px; /* Negative value of #content's width + left margin. */
  }

  .sidebar-right #content
  {
    width: 708px;
    margin-left: 0;
    margin-right: -1008px; /* Negative value of #content's width + left margin. */
  }

  .two-sidebars #content
  {
    width: 408px;
    margin-left: 300px; /* The width of #sidebar-left */
    margin-right: -1008px; /* Negative value of #content's width + left margin. */
  }

  #content-inner
  {
    margin: 30px 30px 0;
  }
  .field-type-embed-gmap {
	float:right;
	height:310px;
	margin:0 30px;
	overflow:hidden;
	position:relative;
	top:-50px;
}
.node-type-location .field-type-text {
	margin:10px 0;
}
.profile {
	max-height:300px;
}
/**  Class display fields  **/
.node-type-class {
	height:340px;
}
.node-type-class .field-field-class-location {
	
}
.node-type-class .field-field-cost {
	
}
.node-type-class .field-field-materialscost {
	
}
/**  Class Schedule display fields  **/
.node-type-class-schedule .field-field-schedule-class-dates {
	float:right;
	margin:-34px 0 20px;
}
.node-type-class-schedule .field-field-class-days-week {
	
}
.node-type-class-schedule .field-field-class-times {
	
}
.node-type-class-schedule .field-field-class-instructor {
	
}
form#signup-form fieldset.collapsible .fieldset-wrapper {
	overflow:hidden;
	/*max-height:180px;*/
}
form#signup-form .collapsible {
	
}
/** navbar **/
  #navbar
  {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -1008px; /* Negative value of #navbar's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
    height: 65px; 
  }

  .with-navbar #content,
  .with-navbar #sidebar-left,
  .with-navbar #sidebar-right
  {
    margin-top: 70px; /* Set this to the same value as the navbar height above. */
  }

  #navbar-inner
  {
	height:65px;
	margin:0;
	padding-top:14px;
  }

  #search-box
  {
    width: 200px;
    margin-right: -200px; /* Negative value of #search-box's width. */
    float: left;
  }

  #primary
  {
   
  }

  #secondary
  {
    margin-left: 200px; /* Width of search-box */
  }

  #navbar ul /* Primary and secondary links */
  {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #navbar li /* A simple method to get navbar links to appear in one line. */
  {
    float: left;
    padding: 0;
  }

  /* There are many methods to get navbar links to appear in one line.
   * Here's an alternate method: */
  /*
  #navbar li
  {
    display: inline;
    padding: 0 10px 0 0;
  }
  */

/** sidebar-left **/
  #sidebar-left
  {
    float: left;
    width: 330px;
    margin-left: 0;
    margin-right: -330px; /* Negative value of #sidebar-left's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
		
  }

  #sidebar-left-inner
  {
    margin: 30px 10px 0 30px;
    padding:10px 0;
max-height:400px;
overflow:auto;
  }

/** sidebar-right **/
  #sidebar-right
  {
    float: left;
    width: 200px;
    margin-left: 760px; /* Width of content + sidebar-left. */
    margin-right: -960px; /* Negative value of #sidebar-right's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
  }

  #sidebar-right-inner
  {
    margin: 0 0 0 20px;
    padding: 0;
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

/** closure **/
  #closure-blocks /* See also the #page declaration above that this div shares. */
  {
  }

/** Prevent overflowing content **/
  #header,
  #content,
  #navbar,
  #sidebar-left,
  #sidebar-right,
  #footer,
  #closure-blocks
  {
    overflow: visible;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  #navbar
  {
    overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
  }

  /* If a div.clear-block doesn't have any content after it and its bottom edge
     touches the bottom of the viewport, Firefox and Safari will mistakenly
     place several pixels worth of space between the bottom of the div and the
     bottom of the viewport. Uncomment this CSS property to fix this.
     Note: with some over-large content, this property might cause scrollbars
     to appear on the #page div.
  */
  /*
  #page
  {
    overflow-y: hidden;
  }
  */
