/* $Id: zen.css,v 1.14.2.6 2009/11/05 11:03:32 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */
/** Extra - Views **/
.views-field-field-class-days-week-value {
	width:100px;
}
.views-field-field-class-days-week-value div {
	float:left;
}
.views-field-field-class-days-week-value div:after {
	content: ",";
}


/** body **/
  body
  {
    margin: 0;
  }

  #page
  {
  }

  #page-inner
  {

  }

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
		display:none;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
	
  }

  #main-inner
  {
		background: transparent url(background_rotate.php) no-repeat;
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
	
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
	background-color:#FFF;
	padding:4px 10px 0 10px;
	border-bottom:1px solid #999;
  }
	.page-classes #content-top {
		height:40px;
		overflow:visible;
		z-index:200;
	}
	.node-type-class-schedule #content-top {
		height:100px;
		overflow:visible;
		z-index:200;
	}
	.node-type-class-schedule #content-area {
		max-height:360px; 
	}
	.view-id-Classes  {
		height:280px;
		overflow:auto;
	}
	.block .view-id-Classes {
		height:auto;
	}
	.view-display-id-calendar_1 {
		height:410px;
		overflow:auto;
	}
	.view-display-id-calendar_1 ul.links {
		display:none;
	}
	.view-bios-list .view-header {
		margin:-10px 0;
		text-decoration:underline;
	}
	.view-signup-available-signups {
		height:280px;
	}
	#contact-mail-user {
		height:280px;
	}
	#user-profile-form {
			height:280px;
	}
	
	div#calpopup {
		border-radius:0em;
		-moz-border-radius:0em;
		background-color:#EEE;
		border:3px solid #111;
		width:45%;
	}
  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
	background-color:#FFF;
	padding:10px;
	margin:0;
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  .not-logged-in div.tabs /* See also the tabs.css file. */
  {
	display:none;
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
	margin:0;
	background-color:#FFF;
	max-height:410px;
	overflow:auto;
	padding:10px;
  }
	.front #content-area {
		background-color:transparent;
		max-height:400px;
		overflow:hidden;
		padding:0;
		margin: 0 0 0 30px;
	}
  ul.links /* List of links */
  {
    margin: 1em 0;
    padding: 0;
  }

  ul.links.inline
  {
    margin: 0;
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
		
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
	background-color:#FFF;
	padding:10px;
  }

/** navbar **/
  #navbar
  {
	background-color:#111;
	color:#FFF;
  }

  #navbar-inner
  {
	
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
	
  }
 #primary ul.links
  {
    margin: 0;
    padding: 0;
		
  }
 #primary ul.links li.first {
	border-left:none;
}
 #primary ul.links.inline
  {
    margin: 0;
    display: inline;
  }

 #primary ul.links li 
  {
    display: inline;
    list-style-type: none;
   height:41px;

  }
#primary a, #primary a:link, #primary a:active, #primary a:visited {
	color:#FFF;
	height:0px;
	padding-top:28px;
	overflow:hidden;
	display:block;
}
 #primary .menu-114 {
	width:110px;
	background:transparent url(images/home.jpg) no-repeat;
}
#primary .menu-115 {
	width:130px;
	background:transparent url(images/classes.jpg) no-repeat;
}
#primary .menu-133 {
	width:99px;
	background:transparent url(images/bios.jpg) no-repeat;
}
#primary .menu-134 {
	width:177px;
	background:transparent url(images/get_involved.jpg) no-repeat;
}
#primary .menu-135 {
	width:123px;
	background:transparent url(images/history.jpg) no-repeat;
}
#primary .menu-136 {
	width:122px;
	background:transparent url(images/gallery.jpg) no-repeat;
}
#primary .menu-137 {
	width:118px;
	background:transparent url(images/grants.jpg) no-repeat;
}
#primary .menu-138 {
	width:129px;
	background:transparent url(images/contact.jpg) no-repeat;
}

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
	background-color:#FFF;
  }
	#sidebar-left .block {
		margin:20px;
	}
	
/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
		color:#fff;
		background-color:#111;
		font-size:.5em;
		font-style:italic;
		text-align:right;
		padding-right:20px;
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }
	#tiny-login {
		float:left;
		margin-left:20px;
	}
/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
		
		overflow:auto;
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
	max-height:340px;
  }

  .node-type-story /* Story content node */
  {
  }
	.node-type-class  legend.collapse-processed {
	display:none;
	}
	
  .front .node h2.title {
	display:none;
}
.front .node {
	padding:10px;
}
  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node ul.links /* Node links. See also the ul.links declaration above. */
  {
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment ul.links /* Comment links. See also the ul.links declaration above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }
/*  Footer Login Block  */
	#block-multiblock-1 {
		float:left;
		margin:-18px 0 0 20px;
		background-color:#111111;
		width:200px;
	}
	#block-multiblock-1 #toboggan-login {
		padding:20px;
	}
	/* Class Page Login Block */
	#block-multiblock-2 {
		background-color:#FFF;
		z-index:100;
		margin:10px;	
		width:200px;
	}
	 div.toboggan-container .toboggan-login-processed {
		position:relative;
		background-color:#999;
		border:2px solid #222;
		padding:0 10px 10px 10px;
	}
	#block-block-3 {
		float:right;
		margin:-5px 10px 0 0;
	}
	/* Class page logout block */
	#block-logintoboggan-0 {
		margin:10px;
	}
	/* Class Schedule Login Block */
	#block-user-0 .title {
		display:none;
	}
	#block-user-0 {
		padding:4px 8px;
		width:200px;
		z-index:100;
	}
  .block h2.title /* Block title */
  {
		background-color:#111111;
		color:#FFFFFF;
		font-size:18px;
		font-weight:lighter;
		letter-spacing:0.1ex;
		text-align:center;
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comment-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-primary-links /* "Primary links" block */
  {
  }

  #block-menu-secondary-links /* "Secondary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }
	.user-member  {
		
	}
	
	
  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
.profile h3 {
	display:none;
}
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
     background-color: #eee;  /* Drupal core uses a #eee background */
  }

  tr.odd
  {
   background-color: #FFF;  /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link /* The "Log in using OpenID" links. */
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  #user-login-form li.user-link /* The "Cancel OpenID login" links. */
  {
    margin-top: 1em;
  }

  #user-login ul
  {
    margin: 1em 0;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

	.page-user-register #content-area {
		max-height:330px;
	}
/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
/* Views Styles */
.front .view-content {
	background-color:#FFF;
	height:400px;
	padding:16px 40px;
	width:580px;
}
#views_slideshow_singleframe_main_1 {
	padding:6px 0;
}
#views_slideshow_singleframe_main_1 .views-field-title {
	padding:8px 0 0 10px;
	width:524px;
	z-index:20;
	margin-top:-40px;
	height:30px;
	position:relative;
	background:transparent url(images/transparent_bg_black.png);
	border-bottom:1px solid #111;
}
#views_slideshow_singleframe_main_1 .field-content {
	color:#FFF;
}
#views_slideshow_singleframe_main_1 .image {
	z-index:4;	
}
.view-Classes th {
	text-align:center;
	text-decoration:underline;
}
.view-Classes th a {
	color:#000000;
}
.views-accordion-bios_list-block_1  h3 {
	font-size:1em;
}
.accordion-header .item-list ul li.first {
	display:block;
}
.accordion-header .item-list ul li {
	display:none;
}
.views-accordion-bios_list-block_1 .views-accordion-item {
	margin-left:40px;
}
/* Views Gallery styles */
ul.images li {
	width: 150px;
	background-color:#CCC;
	border:2px solid #222;
	padding:4px;
}