/* $Id: common-rtl.css,v 1.2 2007/06/05 09:15:02 dries Exp $ */

body {
  direction: rtl;
}
.navlinks {
  padding: 0em 0em 1.5em 0.5em;
}
.primary a {
  padding: 0em 0em 0em 0.5em;
}
.secondary a {
  padding: 0em 0em 0em 0.5em;
}

#header img {
/*  float: right;
  padding: 0em 0em .5em 2em;
  #header img { */
    display: block;
    margin-left: auto;
    margin-right: auto;
/* } */
}
