/* $Id: common.css,v 1.12 2007/06/04 11:10:38 goba Exp $ */

/*
** HTML elements
*/
a, a:link, a:active {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.3em;
}
blockquote {
  font-style: italic;
}
table {
  border: none;
  border-style: hidden; 
  border-width: 0px;
  border-spacing: 0px;
  margin: 0;

}
thead {
	background-color:#000;
}
td { border: none; 
	border-style: hidden; 
	border-width: 0px;
	
	 }
tr { border: none; border-style: hidden; border-width: 0px;  }

code, pre {
 font-size: 1em;
}
pre {
 font-size: 0.8em;
 padding: 1em;
 background: #eee;
}
li {
 padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .25em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4, h5, h6 {
  font-size: 1em;
}
p {
  margin: 0 0 .5em 0;
}
br {
  line-height: 0.6em;
}

/*
** Page layout blocks / IDs
*/
#header {
    /* margin-bottom: 2em;*/
/*     vertical-align: top; */
    clear: both;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
#header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#content_body {
    vertical-align: top;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}
#help {
  font-size: 0.8em;
}
#content {
  border: none;
  clear: both;
}
#sidebar-left, #sidebar-right {
  border: none;     
  vertical-align: top;
  /*padding: 10px;*/
}
#displayable_area {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1008px;
}
#main {
  border: none;
  margin:0 20px;
  vertical-align: top;
  height: 500px;
  padding-top:30px;
}
#main-inner {
	
	
}
#main .node {
	background-color:#FFF;
	overflow:auto;
	height:400px;
	padding:10px;
	margin:0px 0 20px 20px;
}
#footer {
 font-size: 0.8em;
 padding-top: 2em;
 text-align: center;
}

/*
** Common declarations for child classes of node, comment, block, box etc
*/
.title {
  margin: 0 0 .25em 0;
}
.content {
  border: none;
  margin: 0 0 .5em 0;
}
ul.links.inline {
  font-size: 0.8em;
  line-height: 1.25em;
}
.block {
  width:250px;
  border: none;
}
.messages {
  padding: 0.3em;
  margin: 0.5em 0em 0.5em 0em;
}
.status {
  border: none;

}
.error, form-item input.error {
  border: 1px solid red;
  color: red;
}

td.views-field a,
td.views-field a:visited,
td.views-field a:link,
td.views-field a:active {
  color: #5d5f5e;
}
.views-table td {
	text-align:left;
}
.profile {
	background-color:#FFF;
	float:right;
	width:640px;
	padding:10px;
}
/*
** Main Navigation
*/
.navlinks {
    background-color: #111111;
    color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 16px;
		height:50px;
		text-align:center;
}
#navlist {
	height:35px;
}
.navlinks .innerborder {
    background-color: #A90015;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navlinks a, .navlinks a:link, .navlinks a:active, .navlinks a:visited {
    color: #FFF;
    font-family: "helvetica neue", helvetica, arial, verdana, "trebuchet ms", tahoma;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 35px;
    word-spacing: normal;
    letter-spacing: 0.25ex;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    text-indent: 0ex;
    margin:0 0 10px 13px;
    padding: 0 5px 0 0; /* LTR */
}
/*  Footer Links */
.footlinks {
    color: #FFFFFF;
    font-style: italic;
    font-family: helvetica, arial, verdana, trebuchet ms, tahoma;
    display: block;
    margin-right: auto;
    text-align: right;
    font-size: 0.5em;
}
.footlinks td {
    padding-right: 2px;
}
.footlinks a, .footlinks a:link, .footlinks a:active, .footlinks a:visited {

	text-decoration: underline;
    color: #FFFFFF;
    font-family: helvetica, arial, verdana, trebuchet ms, tahoma;

}

.primary a, a:link, a:active {
  font-size: 1.0em;
  padding: 0em 0em 0em 0em; /* LTR */
}
.secondary a {
  font-size: 0.9em;
  padding: 0em 0.5em 0em 0em; /* LTR */
}
/*
** Module specific styles
*/
.form-item textarea {
  font-size: 1em;
}
#aggregator .feed-source {
  border: none;
  padding: 1em;
}
