/* $Id: style-rtl.css,v 1.3 2007/11/27 12:09:27 goba Exp $ */

body {
  border: none;
  /*padding: 5em 3em 0 0;*/
}
/**
 * Yes - right is on the left and left is on the right!
 * Welcome to design by tables..
 */
#sidebar-left {
  border: none;
}
#sidebar-right {
  border: none;
}

ul.links li {
  border-left: none;
  border-right: 1px solid #000;
}
ul.links li.first {
  border-left: none;
  border-right: none;
}
div.links {
  text-align: left;
}
