/* $Id: style.css,v 1.7 2007/06/04 11:10:38 goba Exp $ */

/*
** HTML elements
*/
a, a:link, a:active {
  color: #1A1717;
}
a:visited {
  color: #5F5E5D;
}
body {
   border: none;
   font-family: "helvetica neue", arial, verdana, "trebuchet ms", tahoma;
}
ul {
  list-style-type: none;
}
th {
	color:#FFF;
}
/*
** Page layout blocks / IDs
*/
#main {
  border: none;
}
#sidebar-left {
  border: none;
  width: 300px;
  margin:30px 10px 0 30px;
  float: left;
  background-color:#FFFFFF;
}
#sidebar-right {
  border: none;
  border-left: none;
}
#my_happy_footer {
    padding: 5em 0 0 3em;
    background-image:url('BottomKbar.gif');
    border: none;
    background-repeat:no-repeat;
}
#footlinks td {
    text-align: right;
}

/*
** Common declarations for child classes of node, comment, block, box etc
*/
#header .title {
  font-size: 2em;
  font-weight: bold;
  padding-top: .75em;
}
#header .title a,
#header .title a:link,
#header .title a:visited,
#header .title a:active {
  text-decoration: none;
  color: #aaa;
}
#header .title a:hover {
  color: #930;
}
#header .site-slogan {
  margin-top: -0.1em;
  font-size: 0.8em;
}
#subnavlist {
  font-size: 0.8em;
}
ul.links li {
  border-left: 1px solid #FFF; 
}
ul.links li.first {
  border-left: none; /* LTR */
}
.node .title {
  font-size: 1.2em;
}
.node .title a,
.node .title a:link,
.node .title a:active,
.node .title a:visited {
  text-decoration: none;
  font-weight: normal;
}
.node .title a:hover {
  text-decoration: underline;
}
div.links {
    margin: 1em 0 3em 0em;
    text-align: right; /* LTR */
}

.comment .content, .menu {
    font-size: 0.9em;
}

.block h2, .block-views h2 {
    background-color: #111;
    color: white;
    font-family: "helvetica neue", arial, verdana, "trebuchet ms", tahoma;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    font-size: 18px;
    line-height: 100%;
    word-spacing: normal;
    letter-spacing: 0.1ex;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    text-indent: 0ex;
}

#content_body{
    border: none;
    border-style: none;
    border-width: 0px;
    background-image:url('background_rotate.php');
    background-repeat:no-repeat;
}

#block-user-0 {

	text-align; center;
	background-color: black;
	background-image: none;
	color: white;
}

#block-user-0  a,
#block-user-0 a:link,
#block-user-0 a:visited,
#block-user-0 a:active {
	text-align; center;
	background-color: black;
	background-image: none;
	color: white;
}

.block-user {
    background-image: url(background.png); 
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
}

.block .block-taxonews {
    background-image: none;
}

.block-taxonews {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
/*    padding-bottom: 1em; */
    padding-top: 5px;
    margin: 10px;
}
.block-taxonews h2,
.block-user h2 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.block-taxonews .item-list ul li {
    margin: 0;
}
.block .content{
    border: none;
}

.block {
  border: none;
	margin:10px;
	padding:5px 10px;
}
.block-views {
	
}
.block .title {
  font-size: 1em;
}

.galleries {
/* 	height: 355px; */
	width: 500px;
	overflow: auto;
}
.images {
	background-image: url(background.png); 
/* 	height: 355px; */
	width: 500px;
	overflow: auto;
}
/*
** Module specific styles
*/
div.view-content {
	
	padding-left: 0.5em;
	padding-right: 0.5em;
    
	/*background-image: url(background.png); */
/* 	height: 355px; */
	
	  font-size: 0.8em;
}

.view-content  a,
.view-content a:link,
.view-content a:visited,
.view-content a:active {
	color:black;
	font-size:13px;
}

.views-table {
  
}

div.view-content {

	
	/*margin: 20px 0px 0px;*/
}


div.view-content img{
	border-style:solid;
	border-width:10px;
	border-color:white;
}

#views_slideshow_main_1 {
/* 	height: 355px; */
	width: 500px;
	overflow: auto;
}

.item-list ul li {
	list-style-type: inherit;
	list-style-image: inherit;
	list-style-position: outside;
	font-size: 0.75em;
	padding-right: 1em;
}

/*
** Administration page styles
*/
div.admin-panel {

}

div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #eee;
}
div.admin-panel h3 {
  background-color: #999;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
.navlinks table {
    width: 100%;
}
.navlinks table tr.top {
    background-color: black;
}
.navlinks table tr.bottom {
    background-color: black;
    line-height: 10px;
}
